<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2015-2018. 中移互联网有限公司 版权所有。
  -->

<configuration>
    <conversionRule conversionWord="hostAddress" converterClass="com.hjg.kafka.demo.utils.HostAddress" />

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <springProperty scope="local" name="SYS_NAME" source="spring.system.name"/>
    <springProperty scope="local" name="APP_NAME" source="spring.application.name"/>

    <!-- 日志文件路径 -->
    <property name="LOG_FILE_PATH_DEV" value="c:/logs/${SYS_NAME}" />
    <property name="LOG_FILE_PATH_TEST" value="/tmp/log/${SYS_NAME}" />
    <property name="LOG_FILE_PATH_PROD" value="/tmp/log/${SYS_NAME}" />


    <!-- 开发环境 -->
    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>[${SYS_NAME}]-[${APP_NAME}]-[%hostAddress] : ${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %replace(%msg){'^(.{30000}).*$', '$1'}}</pattern>
            </encoder>
        </appender>

        <!-- 每天产生一个文件 -->
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!-- 文件名称 -->
                <fileNamePattern>${LOG_FILE_PATH_DEV}/${SYS_NAME}-${APP_NAME}-info-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
                <!-- 文件最大保存历史天数 -->
                <maxHistory>2</maxHistory>
                <!-- 单个文件最大大小 -->
                <maxFileSize>100MB</maxFileSize>
                <!-- 所有文件最大大小 -->
                <totalSizeCap>10GB</totalSizeCap>
            </rollingPolicy>

            <encoder>
                <pattern>[${SYS_NAME}]-[${APP_NAME}]-[%hostAddress] : ${FILE_LOG_PATTERN}</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <!--<appender-ref ref="FILE" />-->
        </root>
    </springProfile>

</configuration>